{% extends "hunt/layout_with_nav.tmpl" %}
{% load static %}

{% block title %}Credits &mdash; MIT Mystery Hunt 2021{% endblock %}

{% block content %}
<div class="content">
  <h1>Hunt Credits</h1>
  <main>
    <div class="info">
      <h3>Puzzles</h3>
      <ul>
        <li>Editors in Chief: Jon Schneider and Rahul Sridhar</li>
        <li>Editors: Amon Ge, Andy Hauge, Anderson Wang, Ben Yang, Brian Chen, Chris Jones, Colin Lu, Danny Bulmash, Jakob Weisblat, Josh Alman, Lewis Chen, Nathan Pinsker, Sam Kim, Seth Mulhall, Zack Chroman </li>
        <li>Factchecking
          <ul>
            <li>Factchecking Lead: Danny Bulmash</li>
            <li>Copy-editing Lead: Seth Mulhall</li>
            <li>Star Factcheckers: Anderson Wang, Curtis Chou, Danny Bulmash, Jenna Himawan, Lillian McKinley, Toomas Tennisberg, Xander Hughes, Yannick Yao</li>
            <li>Additional Factcheckers: Adam Barber, Amon Ge, CJ Quines, Connor Moss, Evan Chen, Herman Chau, Jakob Weisblat, Jingyi Zhao, Jon Schneider, Josh Alman, Leo Marchand, Leon Zhou, Qi Qi, Rahul Sridhar, Robert Tunney, Sammy Luo, Seth Mulhall, Zack Chroman</li>
          </ul>
        </li>
        <li>Testsolving Coordinator: Robert Tunney</li>
        <li>Additional Testsolvers: Ashley Kim, Kevin Sun, Linus Strese, Patrick Yang, Wanlin Li</li>
        <li>Post Production: Alan Huang, Brian Chen, CJ Quines, Jakob Weisblat, Jon Schneider, Lewis Chen, Rahul Sridhar, Xander Hughes, and many puzzle authors</li>
        <li>Hunt Modeling: Jon Schneider, Robert Tunney, Yannick Yao</li>
        <li>Physical Puzzles
          <ul>
            <li>Physical Puzzles Lead: Joanna Sands</li>
            <li>Assembly, Shipping, Sourcing and Transport: Charles Tam, Chris Jones, Jakob Weisblat, Jenna Himawan, Justine Jang, Lillian McKinley, Rahul Sridhar</li>
          </ul>
        </li>
        <li>Writing Retreat Organizers: Cami Ramirez-Arau, Kat Fang</li>
      </ul>

      <h3>Projection Device</h3>
      <ul>
        <li>Director: Ben Yang</li>
        <li>Client Development: Herman Chau, Nathan Pinsker, Kat Fang, Lennart Jansson, Evan Chen, DD Liu, Jakob Weisblat, Ben Yang, Anderson Wang, Josh Alman, Leon Zhou, Brian Chen, CJ Quines, Justine Jang, Toomas Tennisberg, Daniel Whatley, Steven Valdez, Jon Schneider, Mark Theng</li>
        <li>Server Development: Nathan Pinsker (lead), Damien Jiang, Herman Chau, Kat Fang</li>
        <li>Art Directors: DD Liu and Andy Hauge</li>
        <li>Artists: DD Liu, Cami Ramirez-Arau, Herman Chau, Lennart Jansson, Joie Chang, Jessica Xu, Amanda Liu, Justine Jang, Abigail Caron, Andy Hauge, Brian Chen, Kat Fang, Nathan Pinsker, Alan Huang, Rahul Sridhar, Connor Moss, Jakob Weisblat, Sammy Luo</li>
        <li>DevOps: Adam Barber, Damien Jiang</li>
      </ul>

      <h3>Story</h3>
      <ul>
        <li>Story Director: Lillian McKinley</li>
        <li>Writers: Lillian McKinley (lead), Chris Jones (kickoff)</li>
        <li>Cast
          <ul>
            <li>Prof. Yew: Theo Kunicki (main), Amanda Liu</li>
            <li>Robin: Kat Fang (main), Lillian McKinley</li>
            <li>Prof. Hemlock: Ian Osborn (main), Amanda Liu</li>
            <li>J: Cami Ramirez-Arau (main), Mitchell Lee, Jakob Weisblat</li>
            <li>Cameron: Josh Alman (main), Seth Mulhall</li>
            <li>Skylar: Connor Moss (main), Brian Chen</li>
            <li>Jenna Himawan, Chris Jones, Sammy Luo, Toomas Tennisberg, Jack Chen</li>
            <li>Endgame MIT Runners: CJ Quines, Mark Theng, Yannick Yao</li>
          </ul>
        </li>
        <li>Stage Managers: Phillip Ai, Max Murin</li>
        <li>Props and Costumes: Cami Ramirez-Arau, Jenna Himawan</li>
        <li>Effects: Loren Sherman (portal), Jakob Weisblat (projection)</li>
        <li>Interactions
          <ul>
            <li>Athletics: Anderson Wang, CJ Quines</li>
            <li>Clusters: Jakob Weisblat, Kat Fang</li>
            <li>Green Building: Josh Alman, Nathan Pinsker</li>
            <li>Infinite Corridor: Andy Hauge</li>
            <li>Stata Center: Curtis Chou</li>
            <li>Student Center: Lillian McKinley, Curtis Chou</li>
            <li>Tunnels: Colin Lu </li>
            <li>&perp;IW.nano: Cami Ramirez-Arau, Jakob Weisblat</li>
          </ul>
        </li>
        <li>Coin Design: DD Liu</li>
      </ul>

      <h3>Website</h3>
      <ul>
        <li>Tech Lead: Steven Valdez</li>
        <li>Additional Tech &amp; Icons: Alan Huang</li>
        <li>Round Art: Lennart Jansson, DD Liu (Yew Labs)</li>
        <li>Basketball Infrastructure: Charles Tam, Mark Theng</li>
        <li>Zoom Infrastructure: Mitchell Gu</li>
      </ul>

      <h3>Events</h3>
      <ul>
        <li>Events Leads: Colin Lu, Jingyi Zhao, Justine Jang</li>
        <li>Events Tech: Alan Huang, Charles Tam</li>
        <li>Events Runners: Amon Ge, Colin Lu, Dai Yang, Daniel Whatley, Danny Bulmash, Evan Chen, Justine Jang</li>
        <li>Event Authors: Alan Huang, Chris Jones, Colin Lu, Dai Yang, Jingyi Zhao, Justine Jang</li>
        <li>Events Finale: DD Liu, Kat Fang</li>
      </ul>

      <h3>During-Hunt Logistics</h3>
      <ul>
        <li>Star Hint Answerers: Yannick Yao, Jason Lam, Jenna Himawan, Amon Ge, Curtis Chou, Daniel Whatley, Sam Kim</li>
        <li>Star Interaction Runners: Anderson Wang, Charles Tam, CJ Quines, Danny Bulmash, Jakob Weisblat, Jenna Himawan, Nathan Pinsker</li>
        <li>Star Team Check-in-ers: CJ Quines, Curtis Chou, Yannick Yao</li>
        <li>Interaction Managers: Abigail Caron, Andy Hauge, Brian Chen, Charles Tam, Chris Jones, Damien Jiang, Danny Bulmash, Jenna Himawan, Joanna Sands, Robert Tunney, Xander Hughes, Zack Chroman</li>
        <li>Stage Managers: Max Murin, Phillip Ai</li>
        <li>Zoomers: Adam Barber, CJ Quines, Daniel Whatley, Jenna Himawan, Joanna Sands, Mitchell Gu, Toomas Tennisberg, Yannick Yao</li>
        <li>Email &amp; Phone Monitors: Alan Huang, Anderson Wang, Charles Tam, CJ Quines, Ixa Gani, Jakob Weisblat, Jenna Himawan, Josh Alman, Justine Jang, Lennart Jansson, Leon Zhou, Lewis Chen, Phillip Ai</li>
      </ul>


      <h3>Exec</h3>
      <ul>
        <li>Benevolent Dictators: Jakob Weisblat and Josh Alman</li>
        <li>Editors in Chief: Jon Schneider and Rahul Sridhar</li>
        <li>Director: Ben Yang</li>
        <li>Archivist: Kat Fang</li>
        <li>Ombudsperson: Cami Ramirez-Arau</li>
        <li>Treasurer: Jenna Himawan</li>
      </ul>

      <h3>Committees</h3>
      <ul>
        <li>Goals Committee: Ben Yang, Colin Lu, Ethan, Jingyi Zhao, Jon Schneider, Josh Alman, Lewis Chen, Rahul Sridhar, Steven Valdez, Yannick Yao</li>
        <li>Theme Proposal Feedback Committee: Ben Yang, Cami Ramirez-Arau, Colin Lu, Connor Moss, Ethan, Hailey, Ian Osborne, Ixa Gani, Jenna Himawan, Joshua Sloane, Rahul Sridhar, Steven Valdez, Theo Kunicki</li>
        <li>COVID Committee: Ben Yang, Cami Ramirez-Arau, Connor Moss, Jakob Weisblat, Jenna Himawan, Josh Alman, Justine Jang, Kat Fang, Lewis Chen, Lillian McKinley, Rahul Sridhar</li>
      </ul>

      <h3>Special Thanks</h3>
      <ul>
        <li>MIT Puzzle Club, and especially Julia Wagner and Jenna Himawan</li>
        <li>Physical puzzle manufacture and delivery: Up In Pieces, Rocket Science, Deliverr</li>
        <li>For publishing parts of puzzles for us: The Tech, MIT Confessions, The Riddler (FiveThirtyEight), Kominers's Conundrums (Bloomberg Opinion)</li>
        <li>Video editing: Jake Gunter</li>
        <li>MIT SOLE, and especially Ethan Feuer</li>
        <li>Our sponsors: <a href="https://mitmuseum.mit.edu/">MIT Museum</a>, <a href="https://asa.mit.edu/group-resources/funding-large-events">MIT Large Event Fund</a>, <a href="https://www.janestreet.com/">Jane Street</a>, <a href="https://www.cluekeeper.com">ClueKeeper</a>, <a href="https://www.drinkhint.com/">Hint Water</a></li>
      </ul>
    </div>
  </main>
</div>
{% endblock %}
