<h2>MYST 2021 Conference Sessions</h2>

<b>Conference Session #1:</b> Friday Jan 15, over 7&ndash;10pm EST.
<ul>
  <li>Please send 1 member of your team who likes video games. Low interactivity.</li>
</ul>
<b>Conference Session #2:</b> Saturday Jan 16, 10&ndash;11am EST.
<ul>
  <li>Please send 1+ members of your team who like shapes. Medium interactivity.</li>
</ul>
<b>Conference Session #3:</b> Saturday Jan 16, 4&ndash;6pm EST.
<ul>
  <li>Please send 1&ndash;4 members of your team who enjoy crosswords. Low interactivity.</li>
  <li><b>Optional competitive tournament</b>: please send 1 representative from your team. Saturday Jan 16, registration closes and tournament begins at 4:30pm EST.
</ul>
<b>Conference Session #4:</b> Saturday Jan 16, 8pm EST.
<ul>
  <li>Please send 2&ndash;3 members of your team who enjoy social games. High interactivity.</li>
</ul>
<b>Conference Session Bonus (Optional event):</b> Sunday Jan 17, 1pm EST.
<ul>
  <li>Please send 0&ndash;1 members of your team who like art. Medium interactivity.</li>
</ul>
