{% extends "hunt/layout_with_nav.tmpl" %}
{% load static %}

{% block title %}Statistics &mdash; MIT Mystery Hunt 2021{% endblock %}

{% block content %}

<style>
  main img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div class="content">
  <h1>Statistics</h1>
  <main>
    <div class="info">
      <h3>Solves over time</h3>
      <p>
        <a href="{% static 'statistics/team_chart.png' %}">
          <img src="{% static 'statistics/team_chart.png' %}">
        </a>
        This chart (and the ones below) treat solving a supermeta as solving all the remaining puzzles in the round.
      </p>

      <h3>Solves vs. Guesses</h3>
      <p>
        <a href="{% static 'statistics/emoji_solves_guesses.png' %}">
          <img src="{% static 'statistics/emoji_solves_guesses.png' %}">
        </a>
        The emoji is scaled with the size of the team.
      </p>

      <h3>Solves vs. Team size</h3>
      <p>
        <a href="{% static 'statistics/emoji_teamsize_solves.png' %}">
          <img src="{% static 'statistics/emoji_teamsize_solves.png' %}">
        </a>
      </p>

      <h3>Infinite solves</h3>
      <p>
        <a href="{% static 'statistics/infinite_solves.png' %}">
          <img src="{% static 'statistics/infinite_solves.png' %}">
        </a>
      </p>

      <h3>Animated Graph</h3>
      <p>
        <a href="https://public.flourish.studio/visualisation/5054105/">
          Animated Solve Graph over Time
        </a>
      </p>
      <h3>Solve data</h3>
      <p>
        Here is a <a href="{% static 'statistics/submissions.csv' %}">CSV file</a> of all answer submissions during the hunt, and here is a <a href="{% static 'statistics/access.csv' %}">CSV file</a> of all the unlock, find, and solve events. The first time column represents unlock time, the second represents found time, and the third (when present) represents solve time.
      </p>

    </div>
  </main>
</div>
{% endblock %}
