{% extends "round/generic-puzzle.html.tmpl" %}
{% load static %}

{% block stylesheets %}
<style>
  body {
    background-color: #98C5D6;
  }

  .content {
    background-image: url({% static 'art/minervabg.png' %});
    background-size: 100% auto;
  }
</style>
{% endblock %}
